{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1 class="text-center">Welcome to the secure world!</h1>

    <p class="pt-3">
        This page is very secure cause it is not accessible via any user. Only logged in users can access this page. So
        feel free to do anything here.

        <br> <br>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam accusamus tempore sed? In placeat, labore
        voluptate iusto sed enim consequatur libero. Laudantium recusandae soluta blanditiis ad aliquam voluptatum
        assumenda totam tenetur quis veniam error, quasi, exercitationem reprehenderit perspiciatis, doloremque
        provident? Cupiditate impedit quasi, necessitatibus optio nisi praesentium ratione vel aspernatur?
    </p>

</div>

{% endblock %}